input {
  border-radius: 0.8rem;
  outline: none;
  border: none;
  padding: 0.7rem 0.5rem;
  font-size: 1.2rem;
}

label {
  font-weight: 500;
  font-size: 1.3rem;
}

.flex-column-center {
  gap: 1rem;
}